<div class="links scroll">
        <a href="{{site.baseurl}}/">Home</a>
        <a href="{{site.baseurl}}/projects/">Research</a>
        <!--<a href="{{site.baseurl}}/teaching/">Teaching</a>
        <a href="{{site.baseurl}}/policy/">Policy</a>
        <a href="{{site.baseurl}}/outreach/">Outreach</a>
        <a href="{{site.baseurl}}/publications/">Publications</a>-->
        <a href="{{site.baseurl}}/cv/">CV</a>
        <!--<a href="{{site.baseurl}}/blog/">Blog</a>
        <a href="{{site.baseurl}}/archive/">Archive</a>-->
</div>
